<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
     <nav class="nav">
      <a class="nav-link active" href="{% url 'UserApp:userHome' %}">VTION</a>
      <!-- <a class="nav-link active" href="{% url 'UserApp:signup' %}">SignUp</a>       -->
    </nav>

    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <div class='container'>
        <div class='jumbotron'>
            <img src="https://www.incubig.com/static/hello/IpProfiles/VTION+189/VTION_logo.jpg" height="100px" width="200px" />            <hr>

                <h1>Login with your Credentials!!</h1>
            <form method="POST" action="">
                <label for="lemail">Email: </label>
                <input id="lemail" type="text" name="lemail" maxlength="100" required>
                <br>
                <label for="lpassword">Password: </label>
                <input id="lpassword" type="password" name="lpassword" maxlength="100" required>
                <br>
                {% csrf_token %}
                <br>
                <input type="submit">
            </form>
            <!-- <p>Account Not Active, please <a href="{% url 'UserApp:activateOnRequest' %}">click here</a></p> -->
        </div>
    </div
  </body>
</html>

