<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UserHome</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <nav class="nav">
      <a class="nav-link active" href="{% url 'UserApp:userHome' %}">VTION-PROD</a>
      {% if loginUser.is_authenticated %}
      <a class="nav-link active" href="{% url 'event' %}">Postgres Events</a>            
      <a class="nav-link active" href="{% url 'pythonignite' %}">Apache Ignite Events</a>            
      <a class="nav-link active" href="{% url 'UserApp:userLogout' %}">Logout</a>
      {% else %}
       <a class="nav-link active" href="{% url 'UserApp:userlogin' %}">LogIn</a>  
       <!-- <a class="nav-link active" href="{% url 'event' %}">Events</a>       -->
      {% endif %}
    </nav>
    <div class='container'>
        <div class='jumbotron'>
            <img src="https://www.incubig.com/static/hello/IpProfiles/VTION+189/VTION_logo.jpg" height="100px" width="200px" />
            <hr>
            {% if loginUser %}
            <h3>You are sucessfully Logged In, {{ loginUser.first_name }}</h3>
			<hr>
            <a href="{% url 'export_users_csv' %}">Export Yesterday's Data</a><hr>
            <a href="{% url 'export_Nielson_csv' %}">Neilson's Data</a><hr>
	    <a href="{% url 'drawgraph' %}">KPI Graph</a><hr>
   		
	    <h5>Fill Timestamps</h5>
	    <div class="col-md-12">
              <div class="search-container" width="100%">
              <form action="/queryresultalter" method="get">
                <!--<textarea class="form-control" name="squery" id="squery" required="" rows="7"></textarea>-->
		<input type="text" placeholder="From timestamp" name="starttimestamp" id="starttimestamp" required="">
		<input type="text" placeholder="To timestamp" name="endtimestamp" id="endtimestamp" required="">
                <button type="submit" class="btn btn-primary btn-block mt-2">Get Result</button>
              </form>
              </div>
            </div>

<!--             <div class="row">
            <div class="col-md-6">
                <div class="search-container">
                  <form action="/search_deviceid_postgres" method="get">
                    <input type="text" placeholder="DEVICE_ID - Posgres" name="sdeviceid" id="sdeviceid" required="">
                    <button type="submit">Search</button>
                  </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search-container">
                  <form action="/search_deviceid_ignite" method="get">
                    <input type="text" placeholder="DEVICE_ID - Ignite" name="sdeviceid" id="sdeviceid" required="">
                    <button type="submit">Search</button>
                  </form>
                </div>
            </div>
            </div>
 -->            {% else %}
            <h1>Welcome to our site!!</h1>
            {% endif %} 
        </div>
    </div
  </body>
</html>
